# Template .gitignore file

# folder ignores
**/__pycache__
**/venv

**/.DS_Store
**/.vscode
**/.idea
**/*.egg-info

**/temp.py

**/build

**.csv
**.dta
**.smcl
**.zip

**.RData
**.Rhistory

**.dct
**.log
**.aux

**.docx
**.ppt
**.xlsx
**.xls

**/*-checkpoint*
